<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MyShop</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <span class="title">MyShop</span>
      <a href="" class="cart-ico">
        <div>
            <span>Koszyk</span>
            <span>(0)</span>
            <span>0</span>
            <span>zł</span>
          </div>
      </a>
      
    </header>

    <div class="main-content">
      <div class="item">
        <p class="item-name">Ołówek</p>
        <img
          src="https://proxer.com.pl/gfx/big/1543225907.31.jpg"
          alt="ołówek"
        />
        <div>
            <span>Cena: </span>
            <span>2.50</span>
            <span>zł</span>
        </div>
        <a href="" class="add-btn">Dodaj</a>
      </div>

      <div class="item">
        <p class="item-name">Ołówek</p>
        <img
          src="https://proxer.com.pl/gfx/big/1543225907.31.jpg"
          alt="ołówek"
        />
        <div>
            <span>Cena: </span>
            <span>2.50</span>
            <span>zł</span>
        </div>
        <a href="" class="add-btn">Dodaj</a>
      </div>
      
      <div class="item">
        <p class="item-name">Ołówek</p>
        <img
          src="https://proxer.com.pl/gfx/big/1543225907.31.jpg"
          alt="ołówek"
        />
        <div>
            <span>Cena: </span>
            <span>2.50</span>
            <span>zł</span>
        </div>
        <a href="" class="add-btn">Dodaj</a>
      </div>
    </div>
  </body>
</html>
